@import url(/assets/fonts/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Berlin Sans FB;
}

html {
    width: 100%;
    height: 100%;
    overflow: overlay;
    user-select: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 17px;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    display: block;
    background: #ffffff;
    background-clip: padding-box;
    border-width: 20px 7px 20px 7px;
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #253d3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#root {
    width: 100%;
    height: 100%;
    color: #49cdcf;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #49cdcf;
}

.header p {
    top: 15%;
    font-size: 100px;
    color: #ffff66;
    position: absolute;
    font-family: SPOTNIK;
    font-weight: 900;
}

.header img {
    height: 350px;
}

.TopicMain {
    margin: 100px 0px 100px 0px;
    padding: 0 55px 28px 55px;
}

.SubTopicMain {
    margin: 50px 0px 50px 0px;
    padding: 0 55px 0 55px;
}

.topic {
    margin-bottom: 65px;
}

.topic-heading {
    font-size: 50px;
}

.topic-sub-heading {
    font-size: 35px;
    color: #ff00e0;
}

.topic-heading:before {
    content: "▹";
    position: absolute;
    font-size: 50px;
    transform: translateY(5px);
    left: 0px;
    line-height: 40px;
}

.next2 .topic-content {
    font-size: 28px;
    color: #4caf50;
    display: block;
}

.topic-content {
    font-size: 28px;
    color: #4caf50;
    display: flex;
    align-items: center;
}

.topic-text {
    width: 75%;
    margin: auto;
    line-height: 35px;
    text-align: justify;
}

.next2 .topic-image {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    margin: auto auto 40px auto;
}

.topic-image {
    position: relative;
    height: -webkit-fill-available;
}


.topic-image img {
    height: 300px;
    margin-left: 75px;
    border-radius: 50px;
}

.NavBtn {
    display: flex;
    gap: 25%;
    justify-content: center;
}

.NavBtn button {
    height: 40px;
    outline: none;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    padding: 6px 15px;
    border: none;
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(-45deg, rgb(255, 77, 77), rgb(100, 71, 182));
}

.NavBtn button:hover {
    transform: scale(0.97);
    background: linear-gradient(-45deg, rgb(100, 71, 182), rgb(255, 77, 77));
}

table {
    border-color: #aabcfe;
    border-spacing: 0;
    border-style: solid;
    border-radius: 15px;
    margin: 0px auto;
    width: 50%;
}

table td {
    background-color: #e8edff;
    border-color: #aabcfe;
    border-style: solid;
    border-width: 0px;
    color: #669;
    font-family: Arial, sans-serif;
    font-size: 17.5px;
    overflow: hidden;
    padding: 15px 15px;
    word-break: normal;
    width: calc(100% / 3);
}

table th {
    background-color: #b9c9fe;
    border-color: #aabcfe;
    border-style: solid;
    border-width: 0px;
    color: #039;
    font-family: inherit;
    font-size: 32px;
    font-weight: normal;
    overflow: hidden;
    padding: 15px 15px;
    width: calc(100% / 3);
}

table th.right {
    border-spacing: 0;
    border-style: solid;
    border-top-right-radius: 10px;
}

table th.left {
    border-spacing: 0;
    border-style: solid;
    border-top-left-radius: 10px;
}

table .light {
    text-align: center;
    vertical-align: middle;
    border-spacing: 0;
    border-style: solid;
}

table .dark {
    background-color: #D2E4FC;
    text-align: center;
    vertical-align: middle;
}